html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: "";
	content: none;
}

q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Satoshi Variable";
	src: local("Satoshi Variable"), url("../fonts/Satoshi-Variable.woff2") format("woff2");
	font-weight: 1 999;
	font-display: swap;
}
html, input, textarea {
	font-family: "Satoshi Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 16px;
	line-height: 100%;
	font-weight: 800;
	letter-spacing: -0.025rem;
	color: var(--primary);
	min-height: 100%;
}

::-moz-selection {
	background-color: var(--primary);
	color: var(--secondary);
}

::selection {
	background-color: var(--primary);
	color: var(--secondary);
}

body {
	font-size: 1.125rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	padding: 0.75rem 0;
	text-wrap: balance;
}

h1, h2, h3 {
	letter-spacing: -0.05rem;
}

h1 {
	font-size: 2rem;
	padding: 0 0 1rem 0;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.125rem;
}

h5, legend {
	font-size: 1rem;
}

h6, figcaption {
	font-size: 0.75rem;
}

p, ul li {
	font-weight: 500;
	padding: 0 0 0.75rem 0;
	word-wrap: break-word;
}
p a, ul li a {
	color: inherit;
	text-decoration: underline;
}
p a:hover, p a:focus-visible, ul li a:hover, ul li a:focus-visible {
	background-color: var(--primary);
	outline: 0.125rem solid var(--primary);
	color: var(--secondary);
}

section h1, section p {
	padding: 0;
}

ul li {
	list-style-type: square;
	margin-left: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 800;
}

em {
	font-style: italic;
}

code {
	font-family: monospace;
}

@media screen and (min-width: 560px) {
	h1 {
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5, legend {
		font-size: 1.25rem;
	}
}
@media screen and (min-width: 1024px) {
	body {
		font-size: 1.25rem;
	}
	h1 {
		font-size: 3.5rem;
	}
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	height: 100vh;
	scroll-behavior: smooth;
	background: var(--secondary);
	background-image: radial-gradient(circle at center, var(--primary) 0.125rem, transparent 0), radial-gradient(circle at center, var(--primary) 0.125rem, transparent 0);
	background-size: 0.75rem 0.75rem;
	background-position: 0 0, calc(0.75rem / 2) calc(0.75rem / 2);
}

body {
	min-width: 320px;
	min-height: 100vh;
	padding: 1rem 1.25rem 1.25rem 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 1rem;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	display: -ms-grid;
	display: grid;
	row-gap: 1rem;
	    grid-template-areas: "logo contact" "menu menu";
}

.logo {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: logo;
	-ms-grid-column-align: start;
	    justify-self: start;
}

.contact {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: contact;
	-ms-grid-column-align: end;
	    justify-self: end;
}

nav {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: menu;
}
nav .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.menu-item {
	width: 100%;
	position: relative;
}

.menu-button {
	width: 100%;
}

header a,
.menu-button,
.dropdown a,
footer a,
.copyright,
#cookiesAcceptButton,
#cookiesDeclineButton {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border: none;
	display: block;
	padding: 0.5rem 1rem;
	outline: 0.125rem solid var(--primary);
	outline-offset: calc(-0.125rem / 2);
	background-color: var(--secondary);
	-webkit-box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
	        box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}
header a:hover,
.menu-button:hover,
.dropdown a:hover,
footer a:hover,
.copyright:hover,
#cookiesAcceptButton:hover,
#cookiesDeclineButton:hover, header a:focus-visible,
.menu-button:focus-visible,
.dropdown a:focus-visible,
footer a:focus-visible,
.copyright:focus-visible,
#cookiesAcceptButton:focus-visible,
#cookiesDeclineButton:focus-visible {
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

.menu-button[aria-expanded=true] {
	background-color: var(--primary);
	color: var(--secondary);
}

.dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	min-width: 50%;
	z-index: 2;
}
.dropdown a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.375rem;
}
.dropdown a span {
	font-size: 0.75rem;
	text-transform: uppercase;
	background-color: var(--primary);
	color: var(--secondary);
	padding: 0.125rem 0.375rem;
}
.dropdown a:hover span {
	background-color: var(--secondary);
	color: var(--primary);
}
.dropdown.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

main {
	grid-area: main;
	padding: 1rem;
	gap: 1rem;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	outline: 0.125rem solid var(--primary);
	outline-offset: calc(-0.125rem / 2);
	background-color: var(--secondary);
	-webkit-box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
	        box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
}

.col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

footer {
	display: -ms-grid;
	display: grid;
	row-gap: 1rem;
	    grid-template-areas: "info" "copyright";
}

.copyright {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: copyright;
}

.info {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	grid-area: info;
}

.info a {
	width: 100%;
}

@media screen and (min-width: 560px) {
	nav .menu {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	nav .dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		min-width: 100%;
	}
}
@media screen and (min-width: 768px) {
	header {
		    grid-template-areas: "logo menu contact";
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.menu-item, .info a {
		width: auto;
	}
	body {
		padding: 1.5rem;
		gap: 1.5rem;
	}
	header a,
	.menu-button,
	.dropdown a,
	footer a,
	.copyright,
	#cookiesAcceptButton,
	#cookiesDeclineButton {
		outline: 0.1875rem solid var(--primary);
		outline-offset: calc(-0.1875rem / 2);
		background-color: var(--secondary);
		-webkit-box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
		        box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
	}
	main {
		gap: 1.5rem;
		outline: 0.1875rem solid var(--primary);
		outline-offset: calc(-0.1875rem / 2);
		background-color: var(--secondary);
		-webkit-box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
		        box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
	}
	footer {
		    grid-template-areas: "copyright info";
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.logo {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.contact {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	nav {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
	}
	.copyright {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.info {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
}
@media screen and (min-width: 1024px) {
	body {
		padding: 2rem;
		gap: 2rem;
	}
	header a,
	.menu-button,
	.dropdown a,
	footer a,
	.copyright,
	#cookiesAcceptButton,
	#cookiesDeclineButton {
		padding: 0.75rem 2rem;
		outline: 0.1875rem solid var(--primary);
		outline-offset: calc(-0.1875rem / 2);
		background-color: var(--secondary);
		-webkit-box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
		        box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
	}
	main {
		padding: 2rem;
		gap: 2rem;
		outline: 0.1875rem solid var(--primary);
		outline-offset: calc(-0.1875rem / 2);
		background-color: var(--secondary);
		-webkit-box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
		        box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
	}
}
#cookies {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

#cookiesModal {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	outline: 0.125rem solid var(--primary);
	outline-offset: calc(-0.125rem / 2);
	background-color: var(--secondary);
	-webkit-box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
	        box-shadow: 0.375rem 0.375rem 0 0 var(--primary);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 1.5rem 2rem 2rem;
	gap: 1.5rem;
	width: 100%;
	max-width: 560px;
}
#cookiesModal p {
	padding: 0;
}
#cookiesModal a {
	display: inline;
}
#cookiesModal a:hover, #cookiesModal a:focus-visible {
	background-color: var(--secondary);
	outline: 0.125rem solid var(--secondary);
	color: var(--primary);
}

#cookiesActions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
#cookiesActions button {
	width: 100%;
}

@media screen and (min-width: 560px) {
	#cookiesActions {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
@media screen and (min-width: 768px) {
	#cookiesModal {
		outline: 0.1875rem solid var(--primary);
		outline-offset: calc(-0.1875rem / 2);
		background-color: var(--secondary);
		-webkit-box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
		        box-shadow: 0.5rem 0.5rem 0 0 var(--primary);
	}
}
@media screen and (min-width: 1024px) {
	#cookiesModal {
		-webkit-box-shadow: 0.75rem 0.75rem 0 0 var(--primary);
		        box-shadow: 0.75rem 0.75rem 0 0 var(--primary);
	}
}