doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/cookies.pug
    include includes/header.pug

    main.col
      section
        h1 Designing, writing, creative thinking, guitar playing, skateboard shredding and craft beer drinking.
      section
        p Read more <a href="https://medium.com/@manuelblex/revamping-my-digital-playground-random-and-a-bit-quirky-686974d0a964">about this website</a>.
    include includes/footer.pug
