#cookies
  #cookiesModal
    p This page collects anonymized usage data. Read more under <a href="privacy">privacy</a>.
    #cookiesActions
      #cookiesAcceptButton Accept
      #cookiesDeclineButton Decline