#cookies
  #cookiesModal
    p This page collects anonymized usage data via Google Analytics. Read more under <a href="privacy">privacy</a>.
    #cookiesActions
      button#cookiesAcceptButton Accept
      button#cookiesDeclineButton Decline