footer
  .copyright © <span id="year">2025</span> All rights reserved
  .info
    <a href="/legal">Legal</a>
    <a href="/privacy">Privacy</a>

script(type='text/javascript' src='js/functions-min.js')