header
  .logo
    <a href="/">Manuel Blex</a>

  .menu
    .menu-item Work
      .dropdown
        <a href="https://de.linkedin.com/in/manuel-blex">LinkedIn</a>
        <a href="https://www.xing.com/profile/manuel_blex">XING</a>
        <a href="https://be.net/manuelblex">Portfolio</a>
    .menu-item Music
      .dropdown
        <a href="https://www.cngrts.com">CNGRTS</a>
        <a href="https://soundcloud.com/per-pedes">Per Pedes</a>
        <a href="https://soundcloud.com/myheartbits">myheartbits</a>
    .menu-item Design/Code
      .dropdown
        <a href="https://medium.com/@manuelblex">Medium</a>
        <a href="https://dribbble.com/Mandolinie">Dribbble</a>
        <a href="https://codepen.io/mandolinie">CodePen</a>
        <a href="https://github.com/mandolinie">GitHub</a>

  .contact
    <a href="mailto:manuelblex@pm.me?subject=Contact from mandolinie.github.io">Contact</a>