header
  .logo
    <a href="/">Manuel Blex</a>

  .menu
    .menu-item Work
      .dropdown
        <a href="https://de.linkedin.com/in/manuel-blex" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://www.xing.com/profile/manuel_blex" target="_blank" rel="noopener noreferrer">XING</a>
        <a href="https://be.net/manuelblex" target="_blank" rel="noopener noreferrer">Portfolio</a>
    .menu-item Music
      .dropdown
        <a href="https://www.cngrts.com" target="_blank" rel="noopener noreferrer">CNGRTS</a>
        <a href="https://soundcloud.com/per-pedes" target="_blank" rel="noopener noreferrer">Per Pedes</a>
        <a href="https://soundcloud.com/myheartbits" target="_blank" rel="noopener noreferrer">myheartbits</a>
    .menu-item Design/Code
      .dropdown
        <a href="https://mandolinie.creator-spring.com/" target="_blank" rel="noopener noreferrer">Shop <span>New!</span></a>
        <a href="https://medium.com/@manuelblex" target="_blank" rel="noopener noreferrer">Medium</a>
        <a href="https://dribbble.com/Mandolinie" target="_blank" rel="noopener noreferrer">Dribbble</a>
        <a href="https://codepen.io/mandolinie" target="_blank" rel="noopeer noreferrer">CodePen</a>
        <a href="https://github.com/mandolinie" target="_blank" rel="noopener noreferrer">GitHub</a>


  .contact
    <a href="mailto:mandolinie@proton.me?subject=Contact from mandolinie.github.io">Contact</a>